<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sunday.sundaymovie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_local_movies_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".moviedetail.MovieDetailActivity"/>
        <activity
            android:name=".search.SearchActivity"
            android:theme="@style/SearchActivityTheme">
        </activity>
        <activity android:name=".activity.PhotoActivity"/>
        <activity android:name=".activity.AllPhotoActivity"/>
        <activity android:name=".person.PersonActivity"/>
        <activity android:name=".activity.ExpriencesActivity"/>
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.VideoAllActivity"/>
        <activity
            android:name=".activity.StarsActivity"
            android:label="@string/stars"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about">
        </activity>
    </application>
</manifest>