<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sunday.sundaymovie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_local_movies_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.home.HomeActivity"
            android:theme="@style/AppTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.moviedetail.MovieDetailActivity"/>
        <activity
            android:name=".mvp.search.SearchActivity"
            android:theme="@style/SearchActivityTheme">
        </activity>
        <activity
            android:name=".mvp.photo.PhotoActivity"
            android:theme="@style/PhotoActivityTheme"/>
        <activity android:name=".mvp.allphoto.AllPhotoActivity"/>
        <activity android:name=".mvp.person.PersonActivity"/>
        <activity android:name=".mvp.expriences.ExpriencesActivity"/>
        <activity
            android:name=".mvp.video.VideoActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".mvp.allvideo.AllVideoActivity"/>
        <activity
            android:name=".mvp.star.StarActivity"
            android:label="@string/stars"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about">
        </activity>
    </application>
</manifest>